.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.cards {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;

}

button:hover {
  cursor: pointer;
}

 body {
   margin: 0;
   padding: 0;
   background-size: 1000px;
   background-image: url(https://tr-images.condecdn.net/image/GqW11MbXJ0B/crop/2040/f/beautiful.jpg)
 }

.Navbar {
  background-color: rgb(243, 217, 235);
  width: 100%;
  height: 60px;
  font-family: Satisfy;
  display: flex;
}

.Navbar .leftSide {
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Navbar .leftSide .links{
  max-height: 80px;
}

.Navbar .leftSide .links a {  
 text-decoration: none;
 color:rgb(255, 0, 0);
 font-size: 25px;
 margin-left: 15px;
 margin-right: 15px
}

.Navbar .rightSide{
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
  font-size: 25px;
  padding-left: 25px;
  color:rgb(255, 0, 0)
}

.rightSide input {
  width: 220px;
  height: 30px;
  border: none;
  border-radius: 4px;
}

.rightSide button{
  height: 32px;
  width: 70px;
  font-size: 16px;
}

.Navbar .leftSide button {
  display: none;
  margin-left: 20px;
}
.Navbar .leftSide #hidden {
  display: flex;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.textarea{
background-color: rgb(243, 217, 235); 
    color: rgb(29, 116, 75); 
    font-family: Satisfy;
    font-size: 18px;
    opacity: 0.9; 
    margin-top: 150px;
    margin-left: 300px;
    margin-right: 90px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    width: 40vw;
    height: 20vh;
  
  }







@media only screen and (max-width: 850px) {
  .Navbar .leftSide .links a { 
    font-size: 15;
  }

}
@media only screen and (max-width: 750px) {
  .Navbar .leftSide button { 
    display: flex;
  }
  .Navbar .leftSide .links {
    display: none;
  }
  .Navbar .leftSide #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 230px;
    max-height: 230px;
    width: 100%;
    background-color: 021E39;
    display: flex;
    flex-direction: column;
    align-items: left;

  }

  .Navbar .leftSide #hidden a {
    margin: 5px;
  }

}
.card {
  min-width: 3rem;
  max-width: 15rem;
  min-height: 3rem;
  max-height: 35rem;
  font-family: Satisfy;
}
.App-header {
  background-color: #424853;
  min-height: 100vh;
}

.float-container {
  background-color: rgb(243, 217, 235); 
  opacity: 0.9; 
  margin-top: 185px;
  margin-left: 435px;
  margin-right: 90px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 60vh;
  height: 30vh;

}

.line1 {
justify-items: center;
text-align: center;
color: rgb(29, 116, 75); 
font-family: Satisfy;
font-size: 35px;
justify-items: center;
text-align: center;
}

.line2 {
  justify-items: center;
  text-align: center;
  color: rgb(29, 116, 75); 
  font-family: sans-serif;
  font-size: 20px;
  justify-items: center;
  text-align: center;
  }
  
  .line3 {
    justify-items: center;
    text-align: center;
    color: rgb(29, 116, 75); 
    font-family: Satisfy;
    font-size: 22px;
    justify-items: center;
    text-align: center;
    }

  .filter-destination {
      color:rgb(255, 0, 0);
      font-family: Satisfy;
      font-size: 20px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: auto;
      margin-bottom: auto;
  }

  .search-bar {
    align-items: center;
    display: flex;
    /* height: 100px;
    width: 100%; */
    /* margin-top: -100px;
    margin-left: 550px;
    margin-right: 90px;
    padding-left: -500px;
    padding-right: 200px; */
  }


.search-area {
      background-color: rgb(243, 217, 235); 
      opacity: 0.9; 
      align-items: center;    
      text-align:center;
      display:flex;
      height: 100px;
      width: 60%;
      margin-right: 100px;
      margin-left: 300px;
     
}